<% include partials/head %>
<% include partials/header %>
    <div id="fh5co-about-section" style="margin-top:3em;margin-bottom:5em;">
      <div class="container">

        <div class="row">
          <div class="col-md-12">
              <div class="col-md-8 col-md-offset-2">
                  Added by
              </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
              <div class="col-md-8 col-md-offset-2">
                  <div class="col-md-2">
                      <img src="<%= partner.image? partner.image : '' %>" />
                  </div>
                  <div class="col-md-6">
                      <h2> Model :  <%= partner.model %>  </h2>
                      <h3> Year :  <%= partner.year %>  </h3>
                      <h3> Shift :  <%= partner.shift %>  </h3>
                      <div class="col-md-12">
                          <h3 class="col-md-6">ZipCode : <%= partner.zip_code %> </h3>
                          <h3 class="col-md-6">Location : <%= partner.location %> </h3>
                      </div>
                      <div>
                          <h3>Experience</h3>
                          <p>
                            <%= partner.experience %>
                          </p>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>

		<% include partials/footer %>



	</div>
	<!-- END fh5co-page -->

	</div>


	</body>
</html>
