<% include partials/head %>
<% include partials/header %>


		<div id="fh5co-about-section" style="margin-top:3em;margin-bottom:5em;">
			<div class="container">

				<div class="row">
					<div class="col-md-12">
              <div class="col-md-10 col-md-offset-2">

                    <h2 class="col-md-12"> Model :  <%= locals.car.model %>  </h2>
                    <h3 class="col-md-12"> Year :  <%= locals.car.year %>  </h3>
                    <h3 class="col-md-12"> Shift :  <%= locals.car.shift %>  </h3>

										<div class="col-md-12">
                      <h3 class="col-md-6">ZipCode : <%= locals.car.zip_code %> </h3>
                      <h3 class="col-md-6">Location : <%= locals.car.location %> </h3>
										</div>

                    <div class="col-md-12">
                        
                        <p class="col-md-12">
                            <%= locals.car.experience %>
                        </p>
                    </div>
                    <div class="col-md-12">
                        <a href="/inbox/<%= car.createdBy %>" class="col-md-12 btn btn-primary" >Contact</a>
                    </div>
                  </div>
              </div>
					</div>
				</div>
			</div>
		</div>

		<% include partials/footer %>

	</div>
	<!-- END fh5co-page -->

	</div>


	</body>
</html>
