<% include partials/head %>
<% include partials/header %>

		<div id="fh5co-about-section" style="margin-top:3em;margin-bottom:5em;">
			<div class="container">

				<div class="row">
          <% cars.forEach(function(car){ %>

					<div class="col-md-4 text-center">
						<div class="about-wrap">
							<div class="desc">
								<h3><%= car.location%></h3>
								<h3><%= car.zip_code%></h3>
								<p class="pos"><%= car.shift %></p>
								<a href="/cars/<%= car._id %>/">View Details</a>
								<a href="/inbox/<%= car.createdBy %>/">Contact</a>
							</div>
						</div>
					</div>

          <% }) %>

				</div>
			</div>
		</div>

		<% include partials/footer %>



	</div>
	<!-- END fh5co-page -->

	</div>

	</body>
</html>
